[submodule "libsamplerate"] 
  path = libsamplerate 
  url = https://github.com/libsndfile/libsamplerate
[submodule "libsndfile"] 
  path = libsndfile 
  url = https://github.com/libsndfile/libsndfile
[submodule "portaudio"] 
  path = portaudio
  url = https://github.com/PortAudio/portaudio
[submodule "rtmidi"] 
  path = rtmidi
  url = https://github.com/thestk/rtmidi
